<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ludiostrix.organise_mois">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/organisemois"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/organisemois"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name="com.ludiostrix.organise_mois.popupActivity"></activity>
        <activity android:name="com.ludiostrix.organise_mois.ProfileActivity"/>
        <activity android:name="com.ludiostrix.organise_mois.AgendaActivity"/>
        <activity android:name="com.ludiostrix.organise_mois.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.ludiostrix.organise_mois.RemindBroadcast" />
        <receiver android:name="com.ludiostrix.organise_mois.Broadcast_work" />
        <receiver android:name="com.ludiostrix.organise_mois.Broadcast_sport" />
        <receiver android:name="com.ludiostrix.organise_mois.Broadcast_eat" />
        <receiver android:name="com.ludiostrix.organise_mois.Broadcast_sleep" />
        <receiver android:name="com.ludiostrix.organise_mois.Broadcast_wake_up" />
        <receiver android:name="com.ludiostrix.organise_mois.Broadcast_break" />


        <receiver android:name="com.ludiostrix.organise_mois.Cancel_broadcast" />
        <receiver android:name="com.ludiostrix.organise_mois.Start_broadcast" />
        <receiver android:name="com.ludiostrix.organise_mois.Postpone_broadcast" />
    </application>
</manifest>